.container-search{
    position: relative;

    i{
        position: absolute;
        left: 42px;
        top: 68px;
        font-size: 26px;
    }
    input::placeholder{
            color: $color-secundario;
    }
    input:focus{
        border: 3px $color-secundario solid;
            }
}