/* abstracts */
.container-search {
  position: relative;
}
.container-search i {
  position: absolute;
  left: 35px;
  top: 75px;
  font-size: 20px;
}
.container-search input::placeholder {
  color: #43f843;
}
.container-search input:focus {
  border: 3px #43f843 solid;
}

/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
}

h1 {
  font-family: "Creepster", cursive;
  font-weight: bold;
  font-size: 40px;
}

/* layout */
header {
  height: 430px;
  max-width: 100vw;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  header {
    height: 310px;
  }
}

main .search form {
  margin-top: 40px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 700px) {
  main .search form {
    flex-direction: column;
  }
}

.filter {
  margin-left: 30px;
  display: flex;
  gap: 20px;
  width: 65%;
}
@media only screen and (max-width: 700px) {
  .filter {
    flex-direction: column;
  }
}
.filter h3 {
  font-size: 18px;
}
@media only screen and (max-width: 700px) {
  .filter h3 {
    font-size: 12px;
  }
}
.filter div {
  display: flex;
  gap: 25px;
}
.filter div select {
  font-size: 13px;
  outline: none;
  border: none;
  width: 55%;
  height: 50px;
  background-color: transparent;
}
@media only screen and (max-width: 700px) {
  .filter div select {
    width: 35%;
    font-size: 10px;
  }
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 80%;
  margin: 4% 12%;
}
@media only screen and (max-width: 700px) {
  .container-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 100%;
  }
}
.container-cards .card {
  cursor: pointer;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.3764705882);
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.7960784314);
  margin: 25px 10px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  transition: all 0.4s ease-in-out;
  border-radius: 8px;
}
@media only screen and (max-width: 700px) {
  .container-cards .card {
    grid-template-columns: repeat(1, 1fr);
    width: 60%;
    margin: 20px 10%;
  }
}
.container-cards .card div {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 25px;
  width: 55%;
}
@media only screen and (max-width: 700px) {
  .container-cards .card div {
    width: 40%;
  }
}
.container-cards .card img {
  pointer-events: none;
  height: 100%;
  width: 45%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
@media only screen and (max-width: 700px) {
  .container-cards .card img {
    width: 60%;
  }
}
.container-cards .card p {
  font-size: 12px;
}
.container-cards .card p span {
  font-size: 15px;
  font-weight: bold;
  color: #32a6f3;
}
@media only screen and (max-width: 700px) {
  .container-cards .card p span {
    font-size: 13px;
  }
}
.container-cards .card:hover {
  transform: scale(1.05);
}

footer {
  background-color: black;
  max-width: 100vw;
  height: 100px;
  text-align: center;
  padding: 40px;
}
@media only screen and (max-width: 700px) {
  footer {
    height: 45px;
    padding: 20px;
  }
}
footer p {
  text-shadow: 2px 2px 2px #32a6f3;
  color: #43f843;
  font-size: 16px;
}
@media only screen and (max-width: 700px) {
  footer p {
    font-size: 12px;
  }
}
footer p span {
  text-shadow: none;
  font-size: 18px;
}
@media only screen and (max-width: 700px) {
  footer p span {
    font-size: 10px;
  }
}

.container-description {
  margin: 30px 90px;
  height: 100%;
}
.container-description .card-descrip {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 700px) {
  .container-description .card-descrip {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.container-description .card-descrip .img-large {
  width: 30%;
}
@media only screen and (max-width: 700px) {
  .container-description .card-descrip .img-large {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.container-description .card-descrip .img-large img {
  border-radius: 8px;
}
.container-description .card-descrip .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  justify-content: center;
}
.container-description .card-descrip .content p {
  font-size: 18px;
  color: #32a6f3;
  font-weight: bold;
}
.container-description .card-descrip .content p span {
  color: black;
  font-weight: normal;
}

.buttons {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px;
}
.buttons div {
  display: flex;
  gap: 5px;
  width: 20%;
}

/* componets */
.desactived {
  color: white;
  background-color: rgba(46, 43, 43, 0.3764705882);
}

.title {
  max-width: 100%;
  height: 80px;
}
@media only screen and (max-width: 700px) {
  .title {
    grid-template-columns: repeat(1, 1fr);
    height: 60px;
  }
}
.title h1 {
  color: #32a6f3;
  background-color: #43f843;
  width: 350px;
  height: 100%;
  text-align: center;
  padding: 20px;
}
@media only screen and (max-width: 700px) {
  .title h1 {
    font-size: 30px;
    padding: 15px;
  }
}

.container-search {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container-search label {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}
@media only screen and (max-width: 700px) {
  .container-search label {
    font-size: 20px;
  }
}

.result {
  margin: 20px 50px;
  font-weight: bold;
  font-size: 16px;
}
@media only screen and (max-width: 700px) {
  .result {
    font-size: 13px;
  }
}
.result span {
  color: #43f843;
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
}
@media only screen and (max-width: 700px) {
  .result span {
    font-size: 13px;
  }
}

input {
  font-size: 20px;
  width: 350px;
  height: 35px;
  padding: 15px 40px;
  margin: 10px;
  border: none;
  border-bottom: 3px black solid;
  outline: none;
}
@media only screen and (max-width: 700px) {
  input {
    font-size: 15px;
    border-bottom: 2px black solid;
    width: 250px;
  }
}

button {
  width: 65px;
  height: 35px;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  background-color: #32a6f3;
  border: none;
  border-radius: 10%;
}
@media only screen and (max-width: 700px) {
  button {
    width: 45px;
    height: 25px;
    font-size: 10px;
    padding: 3px;
  }
}

.image {
  width: 100%;
  height: 350px;
  opacity: 0.8;
  background-color: rgba(10, 10, 10, 0.3411764706);
}
@media only screen and (max-width: 700px) {
  .image {
    height: 250px;
  }
}
.image img {
  width: 100%;
  height: 100%;
}

#name-card {
  font-size: 25px;
  color: #32a6f3;
  font-family: "Creepster", cursive;
}
@media only screen and (max-width: 700px) {
  #name-card {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
