button {
    width: 65px;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    background-color: $color-principal;
    border: none;
    border-radius: 10%;

    @include small {
        width: 45px;
        height: 25px;
        font-size: 10px;
        padding: 3px;
    }
}