.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
   
    
   div{
    display: flex;
    gap: 5px;
    width: 20%;
    button{
        background-color: black;
        color: $color-principal;
        cursor: pointer;
    }
   }

}