.title {
    max-width: 100%;
    height: 80px;

    @include small {
        grid-template-columns: repeat(1, 1fr);
        height: 60px;

    }

    h1 {
        color: $color-principal;
        background-color: $color-secundario;
        width: 350px;
        height: 100%;
        text-align: center;
        padding: 20px;

        @include small {
            font-size: 30px;
            padding: 15px;

        }

    }
}